<br>
<br>
<%= image_tag("phaser.png") %>
<div id="gamediv"></div>
<center>
	<div class="log-in">
		<%= render partial: "logged_in" %>
		<%= render partial: "logged_out" %>
	</div>

<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myFaqModal">
  FAQ
</button>
 <%= render partial: "faq_modal" %>


</center>
