<div id="openModal" class="modalDialog">
    <div>	<a href="#close" title="Close" class="close">X</a>

        	<h2>Rules/FAQ</h2>

        <p><i>What is this?</i><br>
        Rainbow-Cannon Academy is a game designed to make playing flashcards more bearable.  Sign in with Quizlet and you can play with any of your decks.</p>
        <p><i>How do I play?</i><br>
        The game alternates between 'flashcard mode' and 'game mode'.  During flashcard mode, just type in the answer for each of the 10 flashcards.  During game mode, the only controls are up/down to move your ship (you can also use left/right).  Your ship will shoot on its own.</p>
        <p><i>How are the two modes related?</i><br>
        Each correct answer in 'flashcard mode' will make your ship's gun faster for the next game mode.  Each incorrect answer will make the boss bigger and stronger.  Get all 10 right for a special upgrade :) </p>
        <p><i>What happens if I get hit?</i><br>
        It takes 3 hits to destroy your ship, and if your ship is destroyed, you lose a life. If it's not a game-over you will replay the same level (with the same 10 flashcards) again.  If it is a game-over you have to start back at level 1.</p>
        <p><i>Do the levels get harder?</i><br>
        Yes, the minions get stronger on each level.</p>
        <p><i>How do I contact the creators?</i><br>
        Send an email to rainbowcannonacademy@gmail.com</p>


    </div>
</div>
<br>
<br>
<%= image_tag("phaser.png") %>




<center>
	<div class="log-in">
	<a href="#openModal" class="log-in" >Rules/FAQ</a>
		<%= render partial: "logged_in" %>
		<%= render partial: "logged_out" %>
	</div>


</center>
