
<br>
<br>
<%= image_tag("phaser.png") %>
<br>
<br>
<br>
<br>
<br>
<div id="gamediv"></div>
<center>
	<div class="log-in">	
		<%= render partial: "logged_in" %>
		<%= render partial: "logged_out" %>	
	</div>
</center>
