<div id="gamediv"></div>
<h1>Flashforward</h1>
<p>Hello World</p>

<% unless session[:user_id] %>
  <%= link_to "Sign in with quizlet", "/auth/quizlet" %>
<% else %>
  Hi <%= current_user.uid %>
  <%= link_to "Signout", "/session/destroy" %>
<% end %>
