<span data-deck-id="<%= @included_deck.id %>"></span>
<center><h2 id="gfont"> <%= @included_deck.title %> </h2></center>
<%= javascript_include_tag "game.js" %>
<br>
<center>
<p id="gamediv">
</center>
