/*
 *= require basscss
 *= require_self
 *= require_tree .
 */

.testclass{
  color: red;
}

body {
	/*background-color: black;*/
	background-image: url("planet_tile.png");
	background-repeat: repeat;
}

.gamewrapper {
	background-color: #1D1D1E;
	width: 100%;
	margin: 0px;
}

.gamepage {
	background-color: #1D1D1E;
	height: 1000px;
	margin-top: -40px;
}

.gamediv {
	margin: 0px;
}

.log-in {
	background-color: #1D1D1E;
	padding: 20px;
	width: 100%;
}

.gfont {
  font-family: 'Josefin Slab', serif;
  color: white;
}
