/*
 *= require basscss
 *= require_self
 *= require_tree .
 */

.testclass{
  color: red;
}

body {
	/*background-color: black;*/
	background-image: url("planet_tile.png");
	background-repeat: repeat;
}

.gamewrapper {
	background-color: #1D1D1E;
	padding: 20px;
	width: 100%;
}

.log-in {
	background-color: #1D1D1E;
	padding: 20px;
	width: 100%;
}

.gfont{
  font-family: 'Helvetica', sans-serif;
  color: white;

}
