<span data-deck-id="<%= @deck.id %>"></span>
<div class="gamepage">
	<br>
	<br>
	<br>
	<center><h2 class="gfont"> <%= @deck.title %> </h2></center>
		<%= javascript_include_tag "game.js" %>
		<br>
	<center>
		<div class="gamewrapper">		
			<div id="gamediv">
			</div>
		</div>
	</center>
</div>